Assignment 2 requirements:

1. The software shall read a file in XML format containing shipment information.
2. The software shall handle missing data from the XML file.
3. The software shall implement a GUI, allowing users to perform operations by point and clicking.
4. The software shall have these operations on the GUI: add shipment, add warehouse, view shipment, view warehouse, and enable and disable freight receipt.
5. The software shall have 3 newly added warehouses.
6. The software shall keep track of shipments located in each warehouse.
7. The software shall read and store the name and id for each warehouse.
8. The software shall keep track of entered shipments and warehouse data, even after the program has ended.
